<div class="container" *ngIf="book">
  <button type="button" class="btn btn-outline-secondary back-button" (click)="goBack()">Go Back</button>
  <h2 class="heading">{{book.title | uppercase}}</h2>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon5">ID</span>
    </div>
    <input type="text" class="form-control" aria-label="id" value="{{book.id}}"
           aria-describedby="basic-addon5" disabled>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Title</span>
    </div>
    <input type="text" [(ngModel)]="book.title" class="form-control" placeholder="Title" aria-label="Title"
           aria-describedby="basic-addon1" required minlength="4" >
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon2">Authors</span>
    </div>
    <input type="text" [(ngModel)]="book.authors" class="form-control" placeholder="Authors" aria-label="Author"
           aria-describedby="basic-addon2" required minlength="2">
  </div>
  <div class="form-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon3">Type</span>
      <input type="text" [(ngModel)]="book.type" class="form-control" placeholder="Reading Type">
    </div>
  </div>
  <div class="form-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon4">Medium</span>
      <input type="text" [(ngModel)]="book.medium" class="form-control" placeholder="Medium">
    </div>
  </div>
  <div class="form-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon6">Language</span>
      <input type="text" [(ngModel)]="book.language" class="form-control" id="language" placeholder="Language">
    </div>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="genre">Genre</label>
    </div>
    <select class="custom-select" [(ngModel)]="book.genre" id="genre">
      <option *ngFor="let g of genres">{{g}}</option>
    </select>
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Notes</span>
    </div>
    <textarea [(ngModel)]="book.notes" class="form-control" aria-label="Notes" placeholder="Notes"></textarea>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="genre">Status</label>
    </div>
    <select class="custom-select" [(ngModel)]="book.status" id="status">
      <option *ngFor="let s of status">{{s}}</option>
    </select>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" [(ngModel)]="book.favourite" type="checkbox" id="favouriteBook" #bookStar>
      <label class="form-check-label" for="favouriteBook">
        Mark as favourite
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" (click)="save()">Update</button>



