<title>{{title}}</title>
<nav class="navbar navbar-light bg-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link nav" routerLink="/landing"><span class="menu-item">DASHBOARD</span></a>
        </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link nav" routerLink="/books"><span class="menu-item">READING LIST</span></a>
      </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item active" style="color: mintcream;">
            <a class="nav-link nav" routerLink="/genres"><span class="menu-item">SETUP</span></a>
        </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item active" style="color: mintcream;">
            <a class="nav-link nav" routerLink="/about"><span class="menu-item">ABOUT</span></a>
        </li>
    </ul>
  <fa-icon [icon]="faUser" class="logo"></fa-icon>
</nav>
<router-outlet></router-outlet>
<app-notification></app-notification>

