.logo{
  font-size: 1.5em;
  color: mintcream;
  vertical-align: bottom;
}

.menu-item{
  font-family: "Courier New", Courier, monospace;
  background-color: mintcream;
  letter-spacing: 2px;
  font-weight: bold;
  vertical-align: bottom;
  margin: 5px 5px 5px 5px;
}

